html {
    height: 100%;
    width: 100%;
  }
  
  @font-face {
      font-family:'FonteGrossa';
      src:url("../fonts/MadeInfinity.otf");
  }
  
  @font-face {
      font-family:'Suez';
      src:url("../fonts/Suez.ttf");
  }
  
  @font-face {
      font-family:'Roboto';
      src:url("../fonts/Roboto.ttf");
  }
  
  
  body{
    background-color: #352F44;
    margin:0;
    padding:0;
  }
  
  .urltoCopy{
    font-family: FonteGrossa;
  }
  
  .header {
    display: flex;
    align-items: center;
    padding: 10px; /* Ajuste conforme necessário */
    background: #5C5470;
    color: white;
    height: 20px; /* Defina a altura desejada */
  }
  
  .header h1 {
    margin: 0; /* Remova as margens padrão para evitar espaçamento extra */
  }
  
  .header a {
    color: white;
    text-decoration: none;
    margin-left: 20px; /* Espaçamento entre os elementos, ajuste conforme necessário */
  }
  
  .aBox{
    background-color: #746e87;
    position: absolute;
    top: 85%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 814px;
    height: 50px;
    border-radius: 20px;
    text-align: center;
    border: 0px;
    font-size: 24px;
    color: white;
    font-family: Suez;
  }
  
  .aBox[type=text]:focus {
    border: none;
    outline:none;
  }
  
  .questionBox{
    background-color:#5C5470;
    position: absolute;
    top: 45%;
    left: 50%;
    margin: 0 auto 0 auto;
    transform: translate(-50%, -50%);
    text-align: center;
    border: 0px;
    border-radius: 15px;
    font-size: 24px;
    width: 814px;
    height: 530px;
    padding: 6px 32px;
  
  }
  
  .question{
    background-color:#877F9E;
    position: absolute;
    top: 10%;
    left: 50%;
    margin: 0 auto 0 auto;
    transform: translate(-50%, -50%);
    text-align: center;
    border: 0px;
    border-radius: 10px;
    font-size: 28px;
    width: 740px;
    height: 40px;
    padding: 6px 32px;  
    line-height: 165%;
    font-family: Suez;
    color: white;
  }
  
  .img{
    display: grid;
    height: 110%;
  }
  
  .questionImage {
      max-width: 80%;
      max-height: 100vh;
      margin: auto;
  }

  .timer{
    color: #ffffff;
    font-family: FonteGrossa;
    font-size: 50px;
    text-align: center;
    margin-top: 20px;
  }

  .score{
    position:absolute;
    color: #ffffff;
    font-family: FonteGrossa;
    font-size: 30px;
    margin-left:50px;
    margin-top: 20px;
  }

  
  
